// Ce dossier contient généralement des fichiers Sass qui définissent des styles de base pour l'ensemble du projet,
// tels que le reset CSS, les styles de typographie globaux et d'autres styles fondamentaux.
@mixin red-color {
  background: rgba(255, 96, 96, 1);
}
@mixin grey-color {
  background: rgba(246, 246, 246, 1);
}

@mixin font-grey {color: rgba(255, 255, 255, 1);
}
@mixin title-card {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 800;

  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-left: 20px;
  padding-bottom: 10px;
}
@mixin red-background {background: rgba(255, 96, 96, 1);
}

@mixin app-base{
  text-align: center;
  width: 1440px;
   margin: 15px 80px 0px 80px;
  gap: 50px;
}