// Ce dossier est destiné aux fichiers Sass liés à la mise en page globale de l'application, comme la structure de la grille,
// les styles de mise en page, les conteneurs, etc.
@import "./base.scss";
.App {
  @include app-base;
  height: 2400px;
}

.App-logo {
  margin-right: 10px;
}

.App-header {
  background-color: white;
  height: 68px;
  display: flex;
  margin: 20px 60px 20px 100px;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 1240px;
}

@mixin App-link {
  color: rgba(255, 96, 96, 1);
  font-size: 24px;
  font-family: "montserrat";
  font-weight: 900;
  line-height: 34px;
  text-decoration: none;
  text-align: right;
}

.no-where.active {
  @include App-link;
  border-bottom: 2px solid;
}
.no-where {
  @include App-link;
  border-bottom: none;
}
.app-div-link {
  display: flex;
  width: 310px;
  height: 34px;
  justify-content: space-between;
}

.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 1440px;
  height: 209px;
  background: rgba(0, 0, 0, 1);
}

.about-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 209px;
  background: rgba(0, 0, 0, 1);

}
.logo-footer {
  width: 122px;
  height: 40px;
}

.title-footer {
  @include font-grey;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
}
// A propos ou About components

.app-about {
  text-align: center;
  width: 1440px;
  height: auto;
  // margin-left: 80px;
}

.app-404 {
  @include app-base;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .error-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .error-title {
      width: 597px;
      height: 263px;
      font-family: "Montserrat";
      font-size: 288px;
      font-weight: bold;
      line-height: 411px;
      @include font-red;
    }
    .error-text {
      font-family: "Montserrat";
      font-size: 36px;
      font-weight: 600;
      line-height: 51px;
      letter-spacing: 0em;
      @include font-red;
    }
  }
}
.error-link {
  @include font;
  @include font-red;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid;
  text-decoration: none;
}





///********Responsive design*****///

/* Styles pour les écrans entre 1024px et 1439px */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  
}







/* Styles pour les écrans de 375px ou moins */
@media screen and (min-width: 320px) and (max-width: 768px) {
 .App-header{
  width:86%;
 
 }

}

