@charset "UTF-8";
/* Styles pour les écrans entre 1024px et 1439px */
/* Styles pour les écrans de 375px ou moins */
.App {
  text-align: center;
  width: 1440px;
  margin: 15px 0px 0px 0px;
  gap: 50px;
  height: auto;
}

.App-logo {
  margin-right: 10px;
}

.App-header {
  background-color: white;
  height: auto;
  display: flex;
  margin: 20px 60px 20px 100px;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
}

.no-where.active {
  color: rgb(255, 96, 96);
  font-size: 24px;
  font-family: "montserrat";
  font-weight: 900;
  line-height: 34px;
  text-decoration: none;
  text-align: center;
  width: 155px;
  height: 17px;
  -webkit-text-decoration: underline 1px solid;
          text-decoration: underline 1px solid;
}

.no-where {
  color: rgb(255, 96, 96);
  font-size: 24px;
  font-family: "montserrat";
  font-weight: 900;
  line-height: 34px;
  text-decoration: none;
  text-align: center;
  width: 155px;
  height: 17px;
  text-decoration: none;
}

.app-div-link {
  display: flex;
  width: 310px;
  height: 34px;
  justify-content: space-between;
}

.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 209px;
  background: rgb(0, 0, 0);
  margin-top: 50px;
}

.about-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 209px;
  background: rgb(0, 0, 0);
}

.logo-footer {
  width: 122px;
  height: 40px;
}

.title-footer {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  width: 513px;
  height: 46px;
}

.app-about {
  text-align: center;
  width: 1440px;
  height: auto;
}

.app-404 {
  text-align: center;
  width: 1440px;
  margin: 15px 0px 0px 0px;
  gap: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-404 .error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-404 .error-section .error-title {
  width: 597px;
  height: 263px;
  font-family: "Montserrat";
  font-size: 288px;
  font-weight: 800;
  line-height: 411px;
  color: rgb(255, 96, 96);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
}
.app-404 .error-section .error-text {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0.1em;
  color: rgb(255, 96, 96);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
}
.app-404 .error-section .error-text-mob {
  display: none;
}

.error-link {
  font-family: "Montserrat";
  text-decoration: none;
  color: rgb(255, 96, 96);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid;
  text-decoration: none;
}

/* Styles pour les écrans entre 1024px et 1439px */
/* Styles pour les écrans de 375px ou moins */
@media screen and (min-width: 300px) and (max-width: 768px) {
  .App-logo {
    margin-top: 30px;
    height: auto;
    width: 45%;
  }
  .app-div-link {
    width: 50%;
    height: 101px;
    align-items: center;
  }
  .app-footer {
    height: 700px;
  }
  .logo-footer {
    width: 32%;
    height: 24%;
    margin-top: 170px;
  }
  .title-footer {
    width: 16%;
    height: 23%;
  }
  .no-where.active {
    font-size: 48px;
    width: 59%;
  }
  .no-where {
    font-size: 48px;
    width: 59%;
  }
  .app-404 {
    height: 1000px;
  }
  .app-404 {
    height: auto;
  }
  .app-404 .error-section .error-title {
    width: 597px;
    height: 263px;
    font-weight: 800;
    font-size: 288px;
    margin-bottom: 500px;
  }
  .app-404 .error-section .error-text {
    display: none;
  }
  .app-404 .error-section .error-text-mob {
    letter-spacing: 0.02em;
    font-size: 63px;
    width: 67%;
    line-height: 1.6em;
    margin-top: 500px;
    font-weight: 900;
    word-spacing: 15px;
    text-align: center;
    color: rgb(255, 96, 96);
    font-family: "Montserrat";
    text-decoration: none;
    letter-spacing: 0em;
    display: contents;
  }
  .error-link {
    margin-top: 300px;
    color: rgb(255, 96, 96);
    font-family: "Montserrat";
    text-decoration: none;
    letter-spacing: 0em;
    font-size: 48px;
    letter-spacing: 0.04em;
    margin-bottom: 200px;
    line-height: 1em;
  }
}/*# sourceMappingURL=layout.css.map */