// Ce dossier est destiné aux fichiers Sass liés à la mise en page globale de l'application, comme la structure de la grille,
// les styles de mise en page, les conteneurs, etc.
.App {
  text-align: center;
  width: 1440px;
  height: 2400px;
  margin: 15px 80px 0px 80px;
  gap: 50px;
}

.App-logo{ margin-right: 10px }

.App-header {
  background-color: white;
  height: 68px;
  display: flex;
  margin: 20px 60px 20px 100px;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 1240px;
}

@mixin App-link {
  color: rgba(255, 96, 96, 1);
  font-size: 24px;
  font-family: "montserrat";
  font-weight: 900;
  line-height: 34px;
  text-decoration: none;
  text-align: right;
}

.where {
  @include App-link;
  border-bottom: 1px solid;
}
.no-where {
  @include App-link;
  border-bottom: none;
}
.app-div-link {
  display: flex;
  width: 310px;
  height: 34px;
  justify-content: space-between;
}

.app-footer{
  position: relative;
  top: 1050px;
  gap: 50px;
}