@charset "UTF-8";
.rotate-arrow {
  transition: transform 0.3s ease;
}

/* Styles pour les écrans entre 1024px et 1439px */
/* Styles pour les écrans de 375px ou moins */
.App {
  text-align: center;
  width: 1440px;
  margin: 15px 0px 0px 0px;
  gap: 50px;
  height: auto;
}

.App-logo {
  margin-right: 10px;
}

.App-header {
  background-color: white;
  height: auto;
  display: flex;
  margin: 20px 60px 20px 100px;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
}

.no-where.active {
  color: rgb(255, 96, 96);
  font-size: 24px;
  font-family: "montserrat";
  font-weight: 900;
  line-height: 34px;
  text-decoration: none;
  text-align: center;
  width: 155px;
  height: 17px;
  -webkit-text-decoration: underline 1px solid;
          text-decoration: underline 1px solid;
}

.no-where {
  color: rgb(255, 96, 96);
  font-size: 24px;
  font-family: "montserrat";
  font-weight: 900;
  line-height: 34px;
  text-decoration: none;
  text-align: center;
  width: 155px;
  height: 17px;
  text-decoration: none;
}

.app-div-link {
  display: flex;
  width: 310px;
  height: 34px;
  justify-content: space-between;
}

.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 1440px;
  height: 209px;
  background: rgb(0, 0, 0);
}

.about-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 209px;
  background: rgb(0, 0, 0);
}

.logo-footer {
  width: 122px;
  height: 40px;
}

.title-footer {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  width: 513px;
  height: 46px;
}

.app-about {
  text-align: center;
  width: 1440px;
  height: auto;
}

.app-404 {
  text-align: center;
  width: 1440px;
  margin: 15px 0px 0px 0px;
  gap: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-404 .error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-404 .error-section .error-title {
  width: 597px;
  height: 263px;
  font-family: "Montserrat";
  font-size: 288px;
  font-weight: bold;
  line-height: 411px;
  color: rgb(255, 96, 96);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
}
.app-404 .error-section .error-text {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0em;
  color: rgb(255, 96, 96);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
}

.error-link {
  font-family: "Montserrat";
  text-decoration: none;
  color: rgb(255, 96, 96);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid;
  text-decoration: none;
}

/* Styles pour les écrans entre 1024px et 1439px */
/* Styles pour les écrans de 375px ou moins */
@media screen and (min-width: 300px) and (max-width: 768px) {
  .App-logo {
    margin-top: 30px;
    height: auto;
    width: 45%;
  }
  .app-div-link {
    width: 50%;
    height: 101px;
    align-items: center;
  }
  .logo-footer {
    width: 14%;
    height: 29%;
  }
  .title-footer {
    width: 17%;
    height: 32%;
  }
  .no-where.active {
    font-size: 48px;
    width: 59%;
  }
  .no-where {
    font-size: 48px;
    width: 59%;
  }
  .app-404 {
    height: 1000px;
  }
}
/* Styles pour les écrans entre 1024px et 1439px */
/* Styles pour les écrans de 375px ou moins */
/* Styles pour les écrans entre 1024px et 1439px */
/* Styles pour les écrans de 375px ou moins */
/* Styles pour les écrans entre 1024px et 1439px */
/* Styles pour les écrans de 375px ou moins */
body {
  margin: 0;
  padding: 0;
}

.mask {
  width: 1240px;
  height: 223px;
}

.body-home {
  width: 1240px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  gap: 40px;
}

.banner {
  margin-top: 80px;
}

.title-banner {
  display: flex;
  width: 705px;
  height: 68px;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
  position: absolute;
  top: 220px;
  left: 460px;
}

.gallery {
  width: 1240px;
  height: auto;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  background: rgb(246, 246, 246);
}

.gallery-item {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.logement-img {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 10px;
}

.title {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  width: 330px;
  height: 42px;
  position: relative;
  bottom: 70px;
  padding-top: 10px;
  padding-left: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}

.valors-block {
  width: 1024px;
  height: auto;
  margin: 20px 0px 20px 210px;
  gap: 30px;
}

.equipments.block {
  width: 582px;
  height: 52px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 30px;
  background: rgb(255, 96, 96);
  justify-content: space-between;
  align-items: center;
}

.valeurs {
  width: 1024px;
  height: 52px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 30px;
  background: rgb(255, 96, 96);
  justify-content: space-between;
  align-items: center;
}

.title-valeur {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-left: 10px;
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
}

.arrow {
  margin-right: 10px;
}

.text-collapse {
  font-family: "Montserrat";
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: rgb(255, 96, 96);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
  background: rgb(246, 246, 246);
  height: auto;
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 5px;
  padding-bottom: 15px;
}

.collapse-content {
  position: relative;
  bottom: 30px;
}

.collapse-logement {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.collapse-content-logements {
  position: relative;
  bottom: 30px;
  width: 582px;
  height: auto;
  text-align: left;
  list-style-type: none;
}

.ul {
  list-style-type: none;
}

.carrousel {
  display: flex;
  flex-direction: column;
  margin-left: 95px;
  width: 1220px;
  height: auto;
}
.carrousel .slideshow-container {
  width: 1225px;
  height: 415px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}
.carrousel .slideshow-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-arrow-left {
  width: 60px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1120px;
  top: 158px;
}

.container-arrow-right {
  width: 60px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 12px;
  top: 158px;
}

.arrow-left,
.arrow-right {
  color: white;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.countdown {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 12px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

.container-title-host {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 1220px;
}

.container-host {
  width: 167px;
  height: 64px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}
.container-host .host {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: rgb(255, 96, 96);
  font-family: "Montserrat";
  text-decoration: none;
  text-align: right;
  width: 93px;
  height: 52px;
}
.container-host .host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.container-location {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-location .carrousel-title {
  width: auto;
  height: 51px;
  font-family: "Montserrat";
  text-decoration: none;
  font-size: 36px;
  font-weight: 800;
  line-height: 51px;
  text-align: left;
  color: rgb(255, 96, 96);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
  margin-top: 30px;
}
.container-location .carrousel-location {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: rgb(255, 96, 96);
  font-family: "Montserrat";
  text-decoration: none;
  width: auto;
  height: auto;
  text-align: left;
  margin-top: -30px;
}

.container-tags-rating {
  display: flex;
  width: auto;
  height: 25px;
  justify-content: space-between;
}

.tags {
  width: auto;
  height: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.tag {
  width: 130px;
  height: 25px;
  border-radius: 10px;
  background: rgb(255, 96, 96);
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  text-decoration: none;
  letter-spacing: 0em;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.rate {
  display: flex;
  width: 196px;
  height: 36px;
  gap: 15px;
  align-items: center;
}

/* Ajoute une marge à gauche et à droite lorsque la largeur de l'écran est supérieure à 1440px */
@media (min-width: 1440px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px; /* Largeur maximale du contenu */
  }
}
/* Styles pour les écrans entre 1024px et 1439px */
/* Styles pour les écrans de 375px ou moins */
@media screen and (min-width: 300px) and (max-width: 768px) {
  .mask {
    width: 90%;
    height: auto;
  }
  .title-banner {
    text-align: center;
    top: 358px;
    left: 413px;
  }
  .gallery {
    width: 105%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    justify-content: center;
    box-sizing: border-box;
    gap: 0px;
  }
  .gallery .gallery-item {
    margin-bottom: 30px;
    margin-left: auto;
    width: 100%;
    height: 90%;
  }
  .gallery .logement-img {
    width: 100%;
    height: auto;
  }
  .gallery .title {
    font-size: 32px;
    width: 99%;
    height: 71px;
    margin-top: -19px;
    padding-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */