@charset "UTF-8";
/* Styles pour les écrans entre 1024px et 1439px */
/* Styles pour les écrans de 375px ou moins */
body {
  margin: 0;
  padding: 0;
}

.mask {
  width: 1240px;
  height: 223px;
}

.body-home {
  width: 1240px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  gap: 40px;
}

.banner {
  margin-top: 80px;
}

.title-banner {
  display: flex;
  width: 705px;
  height: 68px;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: left;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 220px;
  left: 460px;
}

.gallery {
  width: 1240px;
  height: auto;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  background: rgb(246, 246, 246);
}
.gallery .logement-img {
  width: 340px;
  height: 300px;
  border-radius: 10px;
}
.gallery .title {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 60px;
  left: 40px;
  z-index: 2;
}

.valors-block {
  width: 1024px;
  height: 298px;
  margin: 20px 0px 20px 210px;
  gap: 30px;
}

.valeurs {
  width: 1024px;
  height: 52px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 30px;
  background: rgb(255, 96, 96);
  justify-content: space-between;
  align-items: center;
}

.title-valeur {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-left: 10px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.arrow {
  margin-right: 10px;
}

.text-collapse {
  font-family: "Montserrat";
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: rgb(255, 96, 96);
  background: rgb(246, 246, 246);
  height: auto;
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 5px;
  padding-bottom: 15px;
}

.collapse-content {
  position: relative;
  bottom: 30px;
}

/* Ajoute une marge à gauche et à droite lorsque la largeur de l'écran est supérieure à 1440px */
@media (min-width: 1440px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px; /* Largeur maximale du contenu */
  }
}
/* Styles pour les écrans entre 1024px et 1439px */
/* Styles pour les écrans de 375px ou moins */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .mask {
    width: 90%;
    height: auto;
  }
  .gallery {
    width: 105%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    justify-content: center;
    box-sizing: border-box;
    gap: 0px;
  }
  .gallery .gallery-item {
    width: 100%;
    height: auto;
    gap: 0px;
    padding-left: 0px;
    border: 2px solid greenyellow;
  }
  .gallery .logement-img {
    width: 95%;
    border: 5px pink solid;
    height: auto;
  }
  .gallery .title {
    z-index: 1;
  }
}/*# sourceMappingURL=pages.css.map */