// fichiers Sass qui sont spécifiques à chaque page de votre application.
// Chaque fichier peut contenir des styles personnalisés pour la mise en page et les éléments de chaque page.
@import "./base.scss";

.mask {
  width: 1240px;
  height: 223px;
}

.body-home {
  width: 1240px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  gap: 40px;
}
.banner {
  margin-top: 80px;
}
.title-banner {
  display: flex;
  width: 705px;
  height: 68px;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: left;
  @include font-grey;
  position: absolute;
  top: 220px;
  left: 460px;
}
.gallery {
  width: 1240px;
  height: 2440px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  @include grey-color;
  .gallery-item {
    width: 340px;
    height: 300px;
    border-radius: 10px;
    gap: 20px;

    margin-left: 30px;
  }
  .logement-img {
    width: 340px;
    height: 300px;
    border-radius: 10px;
  }
  .title {
    @include title-card;
    z-index: 2;
  }
}

.valors-block {
  width: 1024px;
  height: 298px;
  margin: 20px 0px 20px 210px;
  gap: 30px;
}
.valeurs-block{
  position: relative;
}
.valeurs {
  width: 1024px;
  height: 52px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 30px;
  @include red-color;
  justify-content: space-between;
  align-items: center;
}
.title-valeur {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-left: 10px;
  text-align: left;
  @include font-grey;
}
.arrow {
  margin-right: 10px;
}
.text-collapse {
  font-family: "Montserrat";
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  @include font-red;
  @include grey-color;
  height: 104px;
  padding-left: 15px;
  padding-top: 15px;
}

.collapse-content{
 border-radius: 5px;
  position: relative;
  bottom: 40px;
}

